<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Mobile</th>
    <th>Level</th>
    <th></th>
  </thead>
  <tbody>
    <tr class = "user_table-list" *ngFor="let emp of list">
      <td (click)="onEdit(emp)">{{emp.id}}</td>
      <td (click)="onEdit(emp)">{{emp.name}}</td>
      <td (click)="onEdit(emp)">{{emp.phone}}</td>
      <td (click)="onEdit(emp)">{{emp.level}}</td>
      <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>